In [1]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd

In [2]:
sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id='01a8d66b15074589b317cf0551577652',
                                                          client_secret='6c47eafc6cd047bea3f2bbc1a4a9f756'))

In [3]:
# playlist = sp.user_playlist_tracks("spotify", "5orZL8SetQM1LR3pMXZMOa")

In [4]:
playlist = sp.user_playlist_tracks("spotify", "4rnleEAOdmFAbRcNCgZMpY")

In [5]:
# playlist

In [6]:
playlist.keys()

dict_keys(['href', 'items', 'limit', 'next', 'offset', 'previous', 'total'])

In [9]:
playlist['total']

5295

In [10]:
playlist["next"]

'https://api.spotify.com/v1/playlists/4rnleEAOdmFAbRcNCgZMpY/tracks?offset=100&limit=100&additional_types=track'

In [195]:
# playlist['tracks']['items']

In [74]:
def getTrackIDs(user, playlist_id):
    track_ids = []
    results = sp.user_playlist(user, playlist_id)
    for item in results['tracks']['items']:
        track = item['track']
        track_ids.append(track['id']) 

    return track_ids

track_ids = getTrackIDs('spotify', '5orZL8SetQM1LR3pMXZMOa')

print(len(track_ids))
print(track_ids)

100
['6OZh916QF8XNunWaP97WEZ', '25C5CowdsfXld2jJanbiex', '4saklk6nie3yiGePpBwUoc', '3tjFYV6RSFtuktYl3ZtYcq', '4lYTkvMkcNRj9uoSr8Zpws', '24ySl2hOPGCDcxBxFIqWBu', '0ct6r3EGTcMLPtrXHDvVjc', '2b8fOow8UzyDFAE27YhOZM', '1xQ6trAsedVPCdbtDAmk0c', '4WrS6vezaPwOafKJmHqMEU', '0sf12qNH5qcw8qpgymFOqD', '2Oycxb8QbPkpHTo8ZrmG0B', '7qEHsqek33rTcFNT9PFqLf', '24Yi9hE78yPEbZ4kxyoXAI', '6RsWqX8zABZLhZydXxEFOm', '1rgnBhdG2JDFTbYkYRZAku', '4Zpe9VME8DiFjLdqSqPRoZ', '0NwHcjsMMGgolX6CXFDwQT', '7gBj0VgcuAgkXkiRRYvSmK', '1CUVN2kn7mW5FjkqXTR2W1', '0KsB4TwgATg88aXCMBoO3Y', '5SxkdsY1ufZzoq9iXceLw9', '6nYoTBmGFNgfTyRC8x1Fvp', '0r4SsYcwvd8URat6AS2m6f', '0Y4hwUppbGc8aIBmiTz30A', '66hayvUbTotekKU3H4ta1f', '1gm616Plq4ScqNi7TVkZ5N', '6NFyWDv5CjfwuzoCkw47Xf', '5a7NdkF09AfD0H607eiOkX', '4EAV2cKiqKP5UPZmY6dejk', '1UfBAJfmofTffrae5ls6DA', '6y68QK2SwC38YxsbxHrA8I', '79jX8RM5CgPqDKdGEKNW9K', '4umIPjkehX1r7uhmGvXiSV', '3n3b5WNEohHP7Ou4ndBo6b', '1fWlO0aGCnI1ldWDMUrOyB', '4iZPNYqzI2L0uwuUKun7Aa', '5Sf3GyLEAzJXxZ5mbCPXTu', '1brwdYwjltrJo7WHpIvbYt', '69uxyAqqPIsUyTO8txoP2M', '0SJPThTy7ynySPF4euczx7', '6b3b7lILUJqXcp6w9wNQSm', '0gb1J5UrTpzaU1s3nupgCd', '1ixphys4A3NEXp6MDScfih', '0azC730Exh71aQlOt9Zj3y', '5YHR8wBR5jXfGtP766NiAT', '6JV2JOEocMgcZxYSZelKcc', '1z5jOmNswvnzjC5gFLu5Dv', '7py16W5fWYLFFS6BElKAjn', '1i1fxkWeaMmKEB4T7zqbzK', '5mMRgTxoeBjEAZdBjPGvaC', '7n9bPHZvl5UvmLPhNjUH1C', '3cNjgVBKTJ1SvKhunrCdVy', '6ZSO7kPn8IMJFymyticbJO', '2u0RIiyxi897MgTaky1sf1', '2CPqh63wRVscbceKcPxwvv', '6DNtNfH8hXkqOX1sjqmI7p', '23L5CiUhw2jV1OIMwthR3S', '3XIIOCu6B8PuGq5j61asEM', '4cSR8iebRqGXHFHo7lHIpm', '50kpGaPAhYJ3sGmk6vplg0', '6nRwc5GgNvBMkKaynhQzrm', '3O09PoBmmhotSUxLZfcRP0', '2uEJanMvnA1dXgX1ASnPQm', '7q0aQpiLv5tIsupcgQ3Ny4', '5tjrH5xrpkgKgYd8zQgU8X', '7MmG8p0F9N3C4AXdK6o6Eb', '5fnA9mkIfScSqHIpeDyvck', '0sQLhT32E9ZG2zn5iYR6nN', '5b2bu6yyATC1zMXDGScJ2d', '6izhPbUU3CeMYvTT74YHnb', '0fYVliAYKHuPmECRs1pbRf', '74Xdx4ezYQQlg8wKswq25T', '3zkWCteF82vJwv0hRLba76', '6ukMqDxnOPOgoHdak7Kyp3', '2hsza71y54ABzmabyNDtM4', '6wMeMFLaD4NCxXzkXgkuM1', '53b7YqVw2Vc1oRrYeOm7z7', '0HFx7PLqzGxSfN59j3UHmR', '7xoUc6faLbCqZO6fQEYprd', '7wqSzGeodspE3V6RBD5W8L', '4orphgwPHHRsdEkfUmANSD', '1tIUfYWKAeMEeQqL6venu0', '34gCuhDGsG4bRPIf9bb02f', '7fPHfBCyKE3aVCBjE4DAvl', '7ioiB40H9xKs04QtIso2I3', '15DrrIod12Tc2IoMaHiwlQ', '0xCmwofyCiXdhoBsMSNj2w', '3DnzEB8Ffnp5sjnCbOugUX', '78TTtXnFQPzwqlbtbwqN0y', '1i1rNVtxbE7rdFfpHuNq2j', '6Knv6wdA0luoMUuuoYi2i1', '57kR5SniQIbsbVoIjjOUDa', '00GfiT5AxTNSDQihPeMRkM', '7yq4Qj7cqayVTp3FF9CWbm', '4qABfS1RaGVXdBhj2BQyhO', '1ip2IGDWMrUmlaepEbWlL8', '1VbhR6D6zUoSTBzvnRonXO', '3bT5PDBhVj4ifU11zQvGP2', '1KZyVnyptQcPzkx7ELCnZC']

In [ ]:
#     tracks = results['tracks']['items']
#         while results['tracks']['next']!=None:
#             results = sp.next(results['tracks'])
#             tracks = tracks + results['tracks']['items']

In [44]:
# this is for 100 songs but dataframe(df_final) for the rest is at the end


def getTrackFeatures(id):
    track_info = sp.track(id)
    features_info = sp.audio_features(id)
    
    name = track_info['name']
    album = track_info['album']['name']
    artist = track_info['album']['artists'][0]['name']
    release_date = track_info['album']['release_date']
    length = track_info['duration_ms']
    popularity = track_info['popularity']
    
    acousticness = features_info[0]['acousticness']
    danceability = features_info[0]['danceability']
    energy = features_info[0]['energy']
    instrumentalness = features_info[0]['instrumentalness'] 
    liveness = features_info[0]['liveness']
    loudness = features_info[0]['loudness']
    speechiness = features_info[0]['speechiness']
    tempo = features_info[0]['tempo']
    time_signature = features_info[0]['time_signature']
    
    track_data = [name, album, artist, release_date, length, popularity, acousticness, danceability, energy, 
                  instrumentalness, liveness, loudness, speechiness, tempo, time_signature]
    return track_data

In [47]:
track_list = []

for i in  range(len(track_ids)):
    sleep(randint(1,3))
    track_data = getTrackFeatures(track_ids[i])
    track_list.append(track_data)
    
Top_Hits = pd.DataFrame(track_list, columns = ['name', 'album', 'artist', 'release_date', 'length', 'popularity', 'acousticness', 'danceability', 'energy', 
                  'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'time_signature'])

Top_Hits.head()

,name,album,artist,release_date,length,popularity,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,time_signature
0,Fast Car,Fast Car,Jonas Blue,2015-12-04,212424,0,0.4530,0.459,0.587,0.0,0.3070,-6.983,0.0785,113.901,4
1,Sorry Not Sorry,Sorry Not Sorry,Demi Lovato,2017-07-11,203760,0,0.0252,0.701,0.638,0.0,0.2560,-6.889,0.2380,144.084,4
2,Dynamite,BE,BTS,2020-11-20,199053,86,0.0112,0.746,0.765,0.0,0.0936,-4.410,0.0993,114.044,4
3,Mood (feat. iann dior),Mood (feat. iann dior),24kGoldn,2020-07-24,140525,36,0.2210,0.700,0.722,0.0,0.2720,-3.558,0.0369,90.989,4
4,Mercy,Mercy,Shawn Mendes,2016-08-18,208733,0,0.1090,0.563,0.684,0.0,0.1100,-4.916,0.0919,147.920,4

In [48]:
Top_Hits.shape

(100, 15)

In [ ]:
# create function to extract contributing artists as lists from each song
# def track_artists(spotify_tracks):
#     artists = [[track['track']['artists'][x]['name'] for x in range(len(track['track']['artists']))]for track in spotify_tracks]
#     return artists

In [ ]:
# #create function to extract track names from a list of track names and return the result as a list
# def track_titles(spotify_tracks):
#     titles = [track['track']['name']for track in spotify_tracks]
#     return titles

In [80]:
# sp.next(playlist)

In [192]:
# df_names = pd.DataFrame(names_playlist)
# df_names

In [11]:
from random import randint
from time import sleep

def get_playlist_tracks(playlist_id):
    results = sp.user_playlist_tracks("spotify",playlist_id)
    tracks = results['items']
    while results['next']!=None:
        results = sp.next(results)
        tracks = tracks + results['items']
        sleep(randint(1,3))
    return tracks

In [13]:
whole_playlist = get_playlist_tracks("4rnleEAOdmFAbRcNCgZMpY")

In [14]:
len(whole_playlist)

5295

In [15]:
whole_playlist[1]['track']['artists'][0]['name']

'Mike Posner'

In [16]:
def track_artists(spotify_tracks):
    artist = [whole_playlist[i]['track']['artists'][0]['name'] for i in range(len(spotify_tracks))]
    return artist

In [17]:
songs_artist = track_artists(whole_playlist)
# songs_artist

In [18]:
df_artist = pd.DataFrame(songs_artist, columns=['artist'])
df_artist

                  artist
0                 Hozier
1            Mike Posner
2     Tyler, The Creator
3               Bastille
4                Shakira
...                  ...
5290              MARINA
5291      Olivia Rodrigo
5292                 BIA
5293            Ashnikko
5294          Kali Uchis

[5295 rows x 1 columns]

In [19]:
def track_name(spotify_tracks):
    name = [whole_playlist[i]['track']['name'] for i in range(len(spotify_tracks))]
    return name

In [20]:
songs_name = track_name(whole_playlist)

# songs_name

In [21]:
df_name = pd.DataFrame(songs_name, columns = ['name'])
df_name

                                      name
0                        Take Me To Church
1              Cooler Than Me - Single Mix
2         See You Again (feat. Kali Uchis)
3                                  Pompeii
4       Hips Don't Lie (feat. Wyclef Jean)
...                                    ...
5290                       Hermit the Frog
5291                               deja vu
5292                     WHOLE LOTTA MONEY
5293  Slumber Party (feat. Princess Nokia)
5294                             telepatía

[5295 rows x 1 columns]

In [22]:
song_uri = whole_playlist[0]['track']['uri']
song_uri

'spotify:track:7dS5EaCoMnN7DzlpT6aRn2'

In [23]:
#create function to extract track uris from a list of tracks
def track_uris(spotify_tracks):
    uris = [whole_playlist[i]['track']['uri'] for i in range(len(spotify_tracks))]
    return uris
song_uris = track_uris(whole_playlist)

# song_uris

In [24]:
df_uri = pd.DataFrame(song_uris, columns = ['uri'])
df_uri

                                       uri
0     spotify:track:7dS5EaCoMnN7DzlpT6aRn2
1     spotify:track:2V4bv1fNWfTcyRJKmej6Sj
2     spotify:track:7KA4W4McWYRpgf0fWsJZWB
3     spotify:track:3gbBpTdY8lnQwqxNCcf795
4     spotify:track:3ZFTkvIE7kyPt6Nu3PEa7V
...                                    ...
5290  spotify:track:4Zcz6saEkOII3PlXd9gN3o
5291  spotify:track:61KpQadow081I2AsbeLcsb
5292  spotify:track:5yorXJWdBan1Vlh116ZtQ7
5293  spotify:track:11ZulcYY4lowvcQm4oe3VJ
5294  spotify:track:6tDDoYIxWvMLTdKpjFkc1B

[5295 rows x 1 columns]

In [27]:
features = [sp.audio_features(i) for i in (song_uris)]
# features

In [42]:
# features

In [36]:
def flatten(input_list):
    return [item for sublist in input_list for item in sublist]

In [39]:
features1 = flatten(features)
features1[0]['danceability']

0.566

In [ ]:
# def audio_features_songs(spotify_tracks):
#     features_uris = [features for song_uris in spotify_tracks]
#     return features_uris
# features_uris = audio_features_songs(whole_playlist)

# features_uris

In [41]:
df_features = pd.DataFrame.from_dict({'danceability':danceability, 'energy':energy, 'key':key, 'loudness':loudness, 'mode':mode, 'speechiness':speechiness, 'acousticness':acousticness, 'instrumentalness':instrumentalness})
df_features

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness
0,0.566,0.664,4,-5.303,0,0.0464,0.63400,0.000000
1,0.768,0.820,7,-4.630,0,0.0474,0.17900,0.000000
2,0.558,0.559,6,-9.222,1,0.0959,0.37100,0.000007
3,0.679,0.715,9,-6.383,1,0.0407,0.07550,0.000000
4,0.778,0.824,10,-5.892,0,0.0707,0.28400,0.000000
...,...,...,...,...,...,...,...,...
5290,0.609,0.679,0,-4.545,1,0.0312,0.24300,0.000000
5291,0.439,0.610,9,-7.236,1,0.1160,0.59300,0.000011
5292,0.897,0.371,1,-5.019,1,0.3680,0.09040,0.000000
5293,0.964,0.398,11,-8.981,0,0.0795,0.00151,0.000039
5294,0.653,0.524,11,-9.016,0,0.0502,0.11200,0.000000

In [40]:
danceability = [features1[i]['danceability'] for i in range(len(features1))]
energy = [features1[i]['energy'] for i in range(len(features1))]
key = [features1[i]['key'] for i in range(len(features1))]
loudness = [features1[i]['loudness'] for i in range(len(features1))]
mode = [features1[i]['mode'] for i in range(len(features1))]
speechiness = [features1[i]['speechiness'] for i in range(len(features1))]
acousticness = [features1[i]['acousticness'] for i in range(len(features1))]
instrumentalness = [features1[i]['instrumentalness'] for i in range(len(features1))]

In [43]:
df_final = pd.concat([df_artist, df_name, df_uri, df_features], axis=1)

In [44]:
df_final

,artist,name,uri,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness
0,Hozier,Take Me To Church,spotify:track:7dS5EaCoMnN7DzlpT6aRn2,0.566,0.664,4,-5.303,0,0.0464,0.63400,0.000000
1,Mike Posner,Cooler Than Me - Single Mix,spotify:track:2V4bv1fNWfTcyRJKmej6Sj,0.768,0.820,7,-4.630,0,0.0474,0.17900,0.000000
2,"Tyler, The Creator",See You Again (feat. Kali Uchis),spotify:track:7KA4W4McWYRpgf0fWsJZWB,0.558,0.559,6,-9.222,1,0.0959,0.37100,0.000007
3,Bastille,Pompeii,spotify:track:3gbBpTdY8lnQwqxNCcf795,0.679,0.715,9,-6.383,1,0.0407,0.07550,0.000000
4,Shakira,Hips Don't Lie (feat. Wyclef Jean),spotify:track:3ZFTkvIE7kyPt6Nu3PEa7V,0.778,0.824,10,-5.892,0,0.0707,0.28400,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
5290,MARINA,Hermit the Frog,spotify:track:4Zcz6saEkOII3PlXd9gN3o,0.609,0.679,0,-4.545,1,0.0312,0.24300,0.000000
5291,Olivia Rodrigo,deja vu,spotify:track:61KpQadow081I2AsbeLcsb,0.439,0.610,9,-7.236,1,0.1160,0.59300,0.000011
5292,BIA,WHOLE LOTTA MONEY,spotify:track:5yorXJWdBan1Vlh116ZtQ7,0.897,0.371,1,-5.019,1,0.3680,0.09040,0.000000
5293,Ashnikko,Slumber Party (feat. Princess Nokia),spotify:track:11ZulcYY4lowvcQm4oe3VJ,0.964,0.398,11,-8.981,0,0.0795,0.00151,0.000039
5294,Kali Uchis,telepatía,spotify:track:6tDDoYIxWvMLTdKpjFkc1B,0.653,0.524,11,-9.016,0,0.0502,0.11200,0.000000